In [1]:
# Q1. Create a python program to sort the given list of tuples based 
# on integer value using a lambda function.
# [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483),
#  ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [6]:
name_list= [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483),
('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [7]:
name_list.sort(key=lambda x:x[1])
print("sorted list",name_list.sort(key = lambda x:x[1]))
print(name_list)

sorted list None
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [18]:
# Write a Python Program to find the squares of all the numbers 
# in the given list of integers using
# lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a3=[]

In [57]:
a2=(map(lambda x: x**2,a))
for x in a2:
    a3.append(x)
print(a3)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
# Q3. Write a python program to convert the given list of integers into a
# tuple of strings. Use map and
# lambda functions
# Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [53]:
String= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
string2=tuple(map(str,String))
print(string2)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [32]:
# Q4. Write a python program using reduce function to compute the product 
# of a list containing numbers from 1 to 25.

In [38]:
from functools import reduce 

list1=[]
for i in range(1,25):
    list1.append(i)
    
total= reduce(lambda a,b :a*b,list1)
print(total)

620448401733239439360000

In [39]:
# Q5. Write a python program to filter the numbers in a given list 
# that are divisible by 2 and 3 using the
# filter function.

In [44]:
list1=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
a=[]
list2=filter(lambda x:x%2==0 and x%3==0,list1)
for x in list2:
    a.append(x)
print(a)

[6, 60, 90, 120]

In [58]:
# Q6. Write a python program to find palindromes in the given list of strings 
# using lambda and filter function.
# ['python', 'php', 'aba', 'radar', 'level']

In [ ]:
text=['python', 'php', 'aba', 'radar', 'level']
result=[]
result2=filter(lambda x: (x=="".join()))