In [2]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning','Big Data','Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name': course_name, 'duration' : duration})

In [7]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [6]:
df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [11]:
# The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc().
#The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc().

In [12]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].

In [13]:
# Did you observe any difference in both the outputs? If so then explain it.
# Consider the below code to answer further questions:

In [14]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [19]:
new_df=df1.reindex([3,0,1,2])

In [23]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.620629  0.626498  0.200324  0.092646  0.122668  0.533693
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.685129  0.744437  0.163028  0.426202  0.476317  0.522147
2  0.949005  0.513255  0.720025  0.497476  0.211020  0.736726

In [21]:
new_df.loc[2]

column_1    0.949005
column_2    0.513255
column_3    0.720025
column_4    0.497476
column_5    0.211020
column_6    0.736726
Name: 2, dtype: float64

In [22]:
new_df.iloc[2]

column_1    0.685129
column_2    0.744437
column_3    0.163028
column_4    0.426202
column_5    0.476317
column_6    0.522147
Name: 1, dtype: float64

In [24]:
#the difference btw new_df.loc[2] and new_df.iloc[2] is new_df.loc[2] is showing the index value 2 while new_df.iloc[2] is showing the second index with index name 1

In [25]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, â€˜column_2â€™

In [28]:
mean=df1.mean()

In [38]:
print(f'mean of each and every column present in the dataframe{mean}')

mean of each and every column present in the dataframecolumn_1    0.597533
column_2    0.476665
column_3    0.378926
column_4    0.364067
column_5    0.301766
column_6    0.510273
dtype: float64

In [34]:
std_c2=df1.loc[2].std()

In [35]:
print(f'standard deviation of column, â€˜column_2â€™: {std_c2}')

standard deviation of column, â€˜column_2â€™: 0.2546053619095793

In [97]:
# Q5. Replace the data present in the second row of column, â€˜column_2â€™ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [98]:
df1['column_2'].loc[2] = str(df1['column_2'].loc[2])

In [99]:
df1

   column_1             column_2  column_3  column_4  column_5  column_6
1  0.651068             0.357677  0.266980  0.864622  0.203263  0.861461
2  0.641126  0.43041219086891824  0.056929  0.846372  0.033905  0.559132
3  0.305564             0.440383  0.294569  0.221607  0.883252  0.316534
4  0.851783             0.192035  0.763847  0.583656  0.616764  0.170522
5  0.453816             0.490153  0.269986  0.394610  0.978772  0.707613
6  0.405492             0.006234  0.845731  0.797966  0.637254  0.234402

In [100]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
# due to the changes made on one of the variables in column_2 pandas now sees 
# the entire column as an object, also arithmetic operations cannot happen between
# an interger or float and str variable

In [57]:
# Q6. What do you understand about the windows function in pandas and list the types of windows 
# functions

In [58]:
# Pandas provide few variants like rolling, expanding and exponentially moving weights for window statistics. Among these are sum, mean, median, variance, covariance, correlation, etc.

In [59]:
# .rolling() Function
# This function can be applied on a series of data. Specify the window=n argument and apply the appropriate statistical function on top of it.

In [67]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 5),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D','E'])
print(df.rolling(window=3).mean())

                   A         B         C         D         E
2000-01-01       NaN       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN       NaN
2000-01-03 -0.283111 -0.129194 -0.079087  0.087565  0.094669
2000-01-04 -0.059213  0.517370 -0.228596 -0.162695 -0.709857
2000-01-05  0.070670  0.028366 -0.465477 -1.192266 -0.407890
2000-01-06 -0.497480 -1.055554 -0.089426 -1.446149 -0.410507
2000-01-07 -0.489754 -1.347308  0.256769 -1.055549 -0.141893
2000-01-08 -0.236480 -1.422730  1.064960 -0.327494 -0.870040
2000-01-09  0.147805 -0.597697  0.488863  0.210638 -0.417920
2000-01-10  0.432087 -0.048590 -0.348392  0.257037 -0.334305

In [64]:
# .expanding() Function
# This function can be applied on a series of data. Specify the min_periods=n argument and apply the appropriate statistical function on top of it.

In [69]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print(df.expanding(min_periods=3).mean())

                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03  0.136678 -0.550340  0.622506 -0.236024
2000-01-04  0.044458 -0.412979  0.949490  0.033435
2000-01-05 -0.151781 -0.330683  0.603519  0.040226
2000-01-06 -0.309816 -0.307597  0.436331  0.196907
2000-01-07 -0.085963 -0.155679  0.303308  0.348852
2000-01-08 -0.002475 -0.090098  0.640326  0.294883
2000-01-09 -0.059458 -0.070694  0.852494  0.114809
2000-01-10  0.029261 -0.147716  0.730584  0.362232

In [70]:
# Q7. Write a code to print only the current month and year at the time of answering this question.

In [101]:
import datetime

current_date = datetime.datetime.now()
current_date = pd.to_datetime(current_date)


current_month_name = current_date.month_name()
current_month = current_date.month
current_year = current_date.year

In [102]:
print(current_month_name, current_year)

August 2023

In [85]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
# program should prompt the user to enter the dates and display the result

In [90]:
from datetime import date

d1=date(2023,8,17)
d2=date(2023,8,21)



delta=d2-d1
print(delta.days)

4

In [91]:
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified 
# column to a categorical data type. The program should prompt the user to enter the file path, column 
# name, and category order, and then display the sorted data.

In [103]:
# Prompth users to enter the filepath, column_name, category_order
filepath = input('Enter the file path: ')
column_name = input('Enter the column name: ')
category_order = input('Enter the category order, seperated by commas ').split(',')

#Read the filepath into a dataframe
df = pd.read_csv(filepath)

#converts a specified column to a categorical data type.
df[column_name] = pd.Categorical(df[column_name], categories=category_order)

#Display the sorted data
df_sorted = df.sort_values(by=[column_name])

df_sorted

Enter the file path:  taxonomy.csv
Enter the column name:  name
Enter the category order, seperated by commas  1,2

    taxonomy_id name parent_id           parent_name
0           101  NaN       NaN                   NaN
1        101-01  NaN       101             Emergency
2        101-02  NaN       101             Emergency
3     101-02-01  NaN    101-02        Emergency Cash
4     101-02-02  NaN    101-02        Emergency Cash
..          ...  ...       ...                   ...
285   111-01-07  NaN    111-01  Advocacy & Legal Aid
286      111-02  NaN       111                 Legal
287      111-03  NaN       111                 Legal
288      111-04  NaN       111                 Legal
289      111-05  NaN       111                 Legal

[290 rows x 4 columns]

In [96]:
# Q10. Write a Python program that reads a CSV file containing sales data for different products and 
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The 
# program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt user for file path
filepath = input("Enter file path: ")

# Read CSV file
df = pd.read_csv(filepath)

# Create a pivot table to aggregate sales data by product category and date
sales_by_category = pd.pivot_table(df, index='Date', columns='Product Category', values='Sales', aggfunc='sum')

# Create stacked bar chart
sales_by_category.plot(kind='bar', stacked=True)

# Set chart title and axis labels
plt.title('Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Sales')

# Show the chart
plt.show()

In [ ]:
# a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and 
# displays the results in a table.
# The program should do the followingM
# I Prompt the user to enter the file path of the CSV file containing the student dataR
# I Read the CSV file into a Pandas DataFrameR
# I Calculate the mean, median, and mode of the test scores using Pandas toolsR
# I Display the mean, median, and mode in a table.

# Assume the CSV file contains the following columnsM
# I Student ID: The ID of the studentR
# I Test Score: The score of the student's test.
# Example usage of the program:

# Enter the file path of the CSV file containing the student data: student_data.csv


# +-----------+--------+

# | Statistic | Value  |

# +-----------+--------+

# | Mean      | 79.6   |

# | Median    | 82     |

# | Mode      | 85, 90 |

# +-----------+--------+


# Assume that the CSV file student_data.csv contains the following data:

# Student ID,Test Score

# 1,85

# 2,90

# 3,80

# 4,75

# 5,85

# 6,82

# 7,78

# 8,85

# 9,90

# 10,85


# The program should calculate the mean, median, and mode of the test scores and display the results 
# in a table.

In [ ]:
import pandas as pd

# Prompt user for file path
filepath = input("Enter file path: ")

# Read CSV file
df = pd.read_csv(filepath)

# Calculate mean, median, and mode of test scores
mean_score = df['test Score'].mean()
median_score = df['test Score'].median()
mode_score = df['test Score'].mode()[0]

# Create a table to display the results
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Score': [mean_score, median_score, mode_score]
})

# Print the table
print(results)