In [1]:
# Q1. List any five functions of the pandas library with execution.

In [3]:
#1:: Read CSV File using Pandas read_csv
import pandas as pd
 
# reading csv file
df = pd.read_csv("data.csv")
print(df.head())

   name           email    phone no
0   amy   amy@gmail.com  9879076534
1  reen  reen@gmail.com  9878345678

In [4]:
#2:: tail()
df= pd.read_csv("university_records.csv")
print(df.tail())

      Name Branch  Year  CGPA
1  Sanchit    COE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     SE     1   9.5
4  Prateek    MCE     3   7.8
5    Sahil     EP     2   9.1

In [6]:
#3::sample()
data = pd.read_csv("university_records.csv")
# generating one row 
row1 = data.sample(n = 1)
  
# display
row1
  
# generating another row
row2 = data.sample(n = 1)
  
# display
row2

    Name Branch  Year  CGPA
3  Sagar     SE     1   9.5

In [7]:
#4::info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Branch  6 non-null      object
 2   Year    6 non-null      int64
 3   CGPA    6 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [10]:
#5::dtypes()
result=df.dtypes
print(result)

Name       object
Branch     object
Year        int64
CGPA      float64
dtype: object

In [11]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [16]:
def reindex_df(df):
    new_index = range(1, 2*len(df)+1,2)

    
    new_df = df.reindex(new_index)

    return new_df

df = pd.DataFrame({'A': [3,5,6], 'B': [4, 1,2], 'C': [3,6,9]})

new_df = reindex_df(df)

print(new_df)

     A    B    C
1  5.0  1.0  6.0
3  NaN  NaN  NaN
5  NaN  NaN  NaN

In [19]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
# iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.
# For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
# calculate and print the sum of the first three values, which is 60.

In [20]:
def calculate_sum(df):
    value_col=df['values']
    value_sum=sum(value_col[:3])
    print("the sum of first three values are:",value_sum)
    
df=pd.DataFrame({'values':[10,30,60,20,40]})
calculate_sum(df)

the sum of first three values are: 100

In [21]:
# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [23]:
def word_count(df):
    df['word_count']=df['text'].apply(lambda x : len(str(x).split()))
    return df
df=pd.DataFrame({'text':['you are so pretty','the sky is clear today']})
df=word_count(df)
print(df)

                     text  word_count
0       you are so pretty           4
1  the sky is clear today           5

In [24]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?

In [25]:
#DataFrame.size() returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns
#DataFrame.shape() returns tuple of shape (Rows, columns) of dataframe/series

In [27]:
ds=df.size
print(ds)

4

In [28]:
dsp=df.shape
print(dsp)

(2, 2)

In [29]:
# Q6. Which function of pandas do we use to read an excel file?

In [30]:
#ans: To read Excel files in Pythonâ€™s Pandas, use the read_excel() function. You can specify the path to the file and a sheet name to read,

In [31]:
# # Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.
# The username is the part of the email address that appears before the '@' symbol. For example, if the
# email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
# function should extract the username from each email address and store it in the new 'Username'
# column.

In [32]:
def user_name(df):
    df['username']=df['email'].apply(lambda x: x.split("@")[0])
    return df
df=pd.DataFrame({'email':['sireen@gmail.com','hazy19@gmail.com']})
df=user_name(df)
print(df)

              email username
0  sireen@gmail.com   sireen
1  hazy19@gmail.com   hazy19

In [33]:
# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
# all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.
# For example, if df contains the following values:
# A B C
# 0 3 5 1
# 1 8 2 7
# 2 6 9 4
# 3 2 3 5
# 4 9 1 2

# Assignment

# Data Science Masters

# Your function should select the following rows: A B C
# 1 8 2 7
# 4 9 1 2
# The function should return a new DataFrame that contains only the selected rows.

In [4]:
import pandas as pd
def selected_rows(df):
    selected_df=df[(df ['A']> 5) & (df['B']<10 )]
    return selected_df
df=pd.DataFrame({'A':[3,8,6,2,9],
                'B':[5,2,9,3,1],
                 'C':[2,4,5,6,8]
                })
selected_df=selected_rows(df)
print(selected_df)

   A  B  C
1  8  2  4
2  6  9  5
4  9  1  8

In [5]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
# median, and standard deviation of the values in the 'Values' column.

In [6]:
import pandas as pd
def calculate_sts(df):
    values_mean=df['values'].mean()
    values_median=df['values'].median()
    values_std=df['values'].std()
    return values_mean,values_median,values_std

df=pd.DataFrame({'values':[1,2,3,4,5]})
mean,median,std=calculate_sts(df)
print(f'mean:{mean}, median:{median}, std:{std}')

mean:3.0, median:3.0, std:1.5811388300841898

In [7]:
# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
# for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.

In [11]:
def moving_avg_col(df):
    df['movingaverage']=df['sales'].rolling(window=7,min_periods=1).mean()
    return df

df=pd.DataFrame({'date':pd.date_range(start='2023-08-1',end='2023-08-15'),
                'sales':[100,200,300,340,340,450,30,300,100,200,500,300,200,140,340]})
df=moving_avg_col(df)
print(df)

         date  sales  movingaverage
0  2023-08-01    100     100.000000
1  2023-08-02    200     150.000000
2  2023-08-03    300     200.000000
3  2023-08-04    340     235.000000
4  2023-08-05    340     256.000000
5  2023-08-06    450     288.333333
6  2023-08-07     30     251.428571
7  2023-08-08    300     280.000000
8  2023-08-09    100     265.714286
9  2023-08-10    200     251.428571
10 2023-08-11    500     274.285714
11 2023-08-12    300     268.571429
12 2023-08-13    200     232.857143
13 2023-08-14    140     248.571429
14 2023-08-15    340     254.285714

In [12]:
# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.
# For example, if df contains the following values:
# Date
# 0 2023-01-01
# 1 2023-01-02
# 2 2023-01-03
# 3 2023-01-04
# 4 2023-01-05
# Your function should create the following DataFrame:

# Date Weekday
# 0 2023-01-01 Sunday
# 1 2023-01-02 Monday
# 2 2023-01-03 Tuesday
# 3 2023-01-04 Wednesday
# 4 2023-01-05 Thursday
# The function should return the modified DataFrame.

In [13]:
def add_weekday(df):
    df['weekdays']=df['date'].dt.day_name()
    return df

df=pd.DataFrame({'date':pd.date_range(start='2023-01-01',end='2023-01-05')})
df=add_weekday(df)
print(df)

        date   weekdays
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [14]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [17]:
def select_rows(df):
    mask=df.loc[:,'date'].between('2023-01-01','2023-01-31')
    result=df.loc[mask,:]
    
    return result
df=pd.DataFrame({'date':['2023-01-01','2023-01-25','2023-01-31','2023-02-01'],'values':[1,2,3,4]})
results=select_rows(df)
print(results)

         date  values
0  2023-01-01       1
1  2023-01-25       2
2  2023-01-31       3

In [18]:
# # Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
# be imported?