In [3]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
# Database : an organized collection of data and information or 
#             interrelated data collected at one place.

In [4]:
# SQL	: RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	
# NoSQL: Non-relational or distributed database system.

# SQL:These databases have fixed or static or predefined schema
# NoSQL:They have a dynamic schema
    
# SQL:These databases are not suited for hierarchical data storage.
# NoSQL:These databases are best suited for hierarchical data storage.
    
# SQL:These databases are best suited for complex queries	
# NoSQL:These databases are not so good for complex queries
    
# SQL:Vertically Scalable	
# NoSQL:Horizontally scalable

In [5]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER,
# and TRUNCATE are used with an example.

In [6]:
# Data definition language sounds like a programming language,
# but is a method of categorising different Structured Query Language (SQL) 
# commands. Understanding data definition language
# helps create database management processes as a database manager

In [7]:
# The CREATE TABLE command creates a new table in the database.

In [14]:
# CREATE TABLE Persons (
#     PersonID int,
#     LastName varchar(255),
#     FirstName varchar(255),
#     Address varchar(255),
#     City varchar(255)
# );

In [16]:
# The ALTER TABLE command adds, deletes, or modifies columns in a table.
# The ALTER TABLE command also adds and deletes various constraints in a table.

In [17]:
# ALTER TABLE Customers
# ADD Email varchar(255);

In [18]:
# The DROP TABLE command deletes a table in the database.
# The following SQL deletes the table "Shippers":
# DROP TABLE Shippers;

In [ ]:
# The TRUNCATE TABLE command deletes the data inside a table, but 
# not the table itself.

# The following SQL truncates the table "":

In [1]:
# TRUNCATE TABLE Categories;

In [2]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [3]:
# ans: DML is an abbreviation of Data Manipulation Language.
# The DML commands in Structured Query Language change the data present in the
# SQL database. We can easily access, store, modify, update and 
# delete the existing records from the database using DML commands.

In [7]:
# INSERT is another most important data manipulation command in 
# Structured Query Language,
# which allows users to insert data in database tables.

In [8]:
# INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol,290,23);

In [9]:
# UPDATE is another most important data manipulation command in 
# Structured Query Language, 
# which allows users to update or modify the existing data in database tables.

In [10]:
# DATE Table_name SET [column_name1= value_1, â€¦.., column_nameN = value_N]

In [11]:
# DELETE is a DML command which allows SQL users to remove single 
# or multiple existing records from the database tables.

In [12]:
# DELETE FROM Table_Name WHERE condition;

In [13]:
# Q4. What is DQL? Explain SELECT with an example.

In [14]:
# DQL or data query language is to perform the query on the data inside the schema
# or object (ie table, index, view, function, etc). With the help of a DQL query, 
# we can get the data from the database to perform actions or operations like analyzing the data.

In [15]:
# Syntax

# Select * from Table_Name;

In [16]:
# ex:
# Select * from Student;

In [17]:
# Q5. Explain Primary Key and Foreign Key.

In [18]:
# # 
# A primary key is used to ensure that data in the specific column is unique. 
# A column cannot have NULL values. It is either an existing table column or
# a column that is specifically generated by the database according to a defined 
# sequence. 

# Example: STUD_NO, as well as STUD_PHONE both, are candidate keys for 
# relation STUDENT but STUD_NO can be chosen as the primary key

In [19]:
# A foreign key is a column or group of columns in 
# a relational database table that provides a link between data in two tables.
# It is a column (or columns) that references a column (most often the primary key)
# of another table. 

# Example: STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in 
# STUDENT relation.

In [20]:
# Q6. Write a python code to connect MySQL to python. 
# Explain the cursor() and execute() method.

In [25]:
# import mysql.connector
 
# dataBase = mysql.connector.connect(
# host ="localhost",
# user ="abc",
# passwd ="password"
# )
 

# cursorObject = dataBase.cursor()
 

# cursorObject.execute("CREATE DATABASE test")

In [26]:
# Q7. Give the order of execution of SQL clauses in an SQL query.